.main-security {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  height: 100vh;
  .form-signin {
    max-width: 450px;
    padding: 15px;
  }
}
