$primary:#004d7b;
$input-font-size:1em;
@import "bootstrap";
@import "css/common.scss";
@import "css/login.scss";
@import "css/register.scss";
@import "~simple-datatables/dist/style.css";
@import "~tom-select/dist/css/tom-select.default.min.css";
@import "notyf/notyf.min.css";
