<div class="copyright">
    <p class="copyright mt-1 mb-1 text-muted text-center">
        Made with <span style="color: #e25555;">❤</span> in Paris - <a class="mr-4" href="https://projyzer.devcoder.xyz" target="_blank" rel="noopener">devcoder.xyz (Fady M.R)</a> - ProJyzer &copy; {{ "now"|date('Y') }}
    </p>
</div>